.main-sidebar {
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #000000;
    width: 260px;
}

.menu-sidebar {
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #000000;
    width: 260px;
    color: white;
}

.home-container {
    margin-left: 260px;
}

.menu-container {
    margin-left: 260px;
}