body, html {
    margin:0;
    padding:0;
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

input {
    font-size: 0.9rem !important;
}

.error-message {
    color: red;
}

.jumbotron {
    background-color: rgb(192, 192, 192);
    height: 100%;
}

/************** HOME PAGE *****************/


.home-body {
    margin-left: 260px;
}

.bg-1 {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0;
}

.text-col {
    position: relative;
    width: 50%;
}

.text-col-content > h1 {
    font-family: 'Pacifico', cursive;
}

.text-col-content {
    position: absolute;
    width: 70%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Ubuntu', sans-serif;
}

.img-col {
    position: relative;
    width: 50%;
}

.img-col-content {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer {
    background-color: rgb(53, 53, 80);
    display: flex;
    color: white;
}

.footer-col {
    padding: 1rem;
}

.footer-heading {
    font-family: 'Pacifico', cursive;
}

.schedule {
    display: flex;
    justify-content: flex-start;
}

.days {
    width: 80px;
    text-align: left;
}


/***************** MENU PAGE CONTENTS *******************/

.menu-page {
    margin-left: 260px;
    font-size: 0.85rem;
    display: flex;
}

.menu-body {
    width: 70%;
    padding: 2rem;
}

.menu-header {
    text-align: center;
    margin-bottom: 2rem;
}

/********************* CART *************************/

.menu-cart {
    position: fixed;
    width: 28%;
    padding: 1.5rem;
    top: 180px;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

.cart-box {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
}

.cart-header {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.cart-body {
    padding: 0.7rem;
}

.cart-box-footer {
    text-align: center;
    font-weight: bold;
    padding: 0.7rem;
    border-top: 1px solid rgb(219, 219, 219);
}

.cart-items {
    display: flex;
    margin-bottom: 5px;
    justify-items: center;
    align-items: baseline;
    padding: 2px;
}

.cart-items-name {
    font-weight: bold;
    width: 90%;
}

.cart-items-price {
    text-align: right;
    width: 10%;
}

.cart-total {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.remove-btn {
    border-radius: 100%;
    width: 17px;
    height: 17px;
    padding: 0 !important;
    font-size: 10px;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

.disabled-checkout-btn {
    background-color: gray;
    width: 100%;
}

.disabled-checkout-btn:hover {
    cursor: not-allowed;
}

.checkout-btn {
    width: 100%;
    position: relative;
}

.checkout-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fa-shopping-cart {
    margin-right: 10px;
}

/******************** MENU ITEMS **********************/

.items {
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.items:hover {
    cursor: pointer;
}

.items-body {
    display: flex;
    /* position: relative; */
    /* border-bottom: 1px solid rgb(194, 194, 194); */
    /* padding: 1rem; */
}

/* .items-body:hover {
    cursor: pointer;
} */

.items-options {
    background-color: pink;
}

.items-content {
    width: 80%;
}

.items-name {
    margin-bottom: -3px;
}

.items-price {
    width: 20%;
    text-align: right;
    color: rgb(1, 55, 155);
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

.overlay-text {
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/******************** BANNER *************************/

.banner {
    margin-left: 260px;
    background-color: gray;
    height: 180px;
    background-image: url('../images/banner-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 1rem;
}

.banner-logo {
    margin: auto;
}

/******************** LOGIN PAGE ********************/

.login-page {
    height: 100vh;
    background-color: black;
    font-size: 0.9rem;
    font-weight: bold;
}

.login-bg {
    position: absolute;
    background-image: url('../images/restaurant-pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.login-body {
    margin-left: 260px;
    padding: 6rem;
    position: relative;
    z-index: 0;
    color: white;
}

.login-form {
    width: 50%;
    margin: auto;
}

.login-btn {
    width: 100%;
}

/******************** REGISTER PAGE ********************/

.register-page {
    height: 100vh;
    background-color: black;
    font-size: 0.9rem;
    font-weight: bold;
}

.register-bg {
    position: absolute;
    background-image: url('../images/interior-pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.register-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 100%;
}

.register-body {
    margin-left: 260px;
    padding: 6rem;
    position: relative;
    z-index: 0;
    color: white;
}

.register-form {
    margin: auto;
    width: 60%;
    /* background-color: pink; */
}

.register-btn {
    width: 100%;
}

/********************* TOP NAV *************************/

.col-sm-2 {
    display: inline-block;
}

/************************ SIDE BAR *************************/

.main-sidebar {
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #333333;
    width: 260px;
    z-index: 1;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.38);
}

.side-bar-logo {
    position: relative;
    top: 50px;
    margin: auto;
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-image: url("../images/banner-logo.png");
    background-position: center;
    background-size: 130px;
    background-repeat: no-repeat;
    -webkit-box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
}

.side-bar-logo:active {
    transform: translate(1px, 1px);
    box-shadow: none;
}

.side-bar-btn-group {
    position: relative;
    top: 100px;
}

.or {
    color: white;
}

.link-btn {
    position: relative;
    width: 100%;
    -webkit-box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 0px 0px rgba(0,0,0,0.75);
}

.link-btn:active {
    transform: translate(1px, 1px);
    box-shadow: none;
}

.sidebar-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/************************ CHECKOUT PAGE *************************/

.checkout-body {
    margin-left: 260px;
}

.checkout-form {
    margin: auto;
    width: 90%;
    height: 100%;
    font-size: 0.8rem;
    font-weight: bold;
}

.form-inputs {
    padding: 1rem;
}

.form-total {
    padding: 1rem;
}


.email-phone-row {
    margin-top: -15px;
}

.order-btn {
    width: 100%;
}

.total-box {
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;
    padding: 1rem;
}

.total-box > h5 > span {
    float: right;
}

.total-box > input {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    font-size: 16px !important;
    text-align: right;
    font-weight: bold;
}

.contact-header, .address-header, .payment-header {
    font-size: 1.1rem;
}

/********************* Success Model ***********************/


.success-model {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.model {
    position: relative;
    z-index: 2;
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 30%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    animation: reveal 0.3s linear;
}

@keyframes reveal {
    0% { 
        opacity: 0;
        top: 0%;
    }

    100% { 
        opacity: 1;
        top: 20%;
    }
}

.model-header {
    padding: 1rem;
}

.model-footer {
    padding: 1rem;
}

.check-mark {
    background-color: green;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 100%;
    margin: auto;
}

.btn-wrapper {
    width: 100%;
    text-align: right;
}

.close-model-btn {
    outline: none !important;
    background-color: white;
    color: black;
    border: none;
    font-size: 30px;
    margin-right: 10px;
    
}

.fa-check {
    color: white;
    font-size: 80px;
    vertical-align: middle;
}

.fa-window-close {
    font-size: 30px;
}

/******************** Loading Indicator *******************/

.loading-indicator {
    text-align: center;
}

.spinner {
    margin-top: 100px;
}

.payment-loader {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%
}

.payment-spinner {
    color: white;
    position: relative;
    text-align: center;
    top: 250px;
}


/***************** MEDIA QUERY ********************/

/* Mobile Screen */
@media (min-width: 320px) and (max-width: 720px) {

    /***************** BANNER *****************/

    .banner {
        margin-left: 0px;
        width: 100vh;
    }
    
    /************** HOME PAGE *****************/

    .home-body {
        margin-left: 0px;
        font-size: 0.7rem;
    }

    .bg-1 {
        width: 100vh;
        height: 800px;
    }

    .footer {
        height: 100%;
        width: 100vh;
    }

    .days {
        width: 50px;
    }

    /************************ SIDE BAR *************************/

    .main-sidebar {
        padding: 1rem;
        position: fixed;
        top: 0;
        width: 100%;
        height: 180px;
    }

    .side-bar-logo {
        position: relative;
        left: 20px;
        top: -2px;
        margin: 0;
    }

    .side-bar-btn-group {
        position: relative;
        top: -160px;
        left: 70%;
        width: 30%;
        display: inline-block;
    }

    .login-signup-group {
        margin-top: 0 !important;
    }

    .or {
        display: none;
    }

    .link-btn {
        margin-top: 12px !important;
    }

    /***************** MENU PAGE CONTENTS *******************/

    .menu-page {
        margin-left: 0px;
        margin-right: 0 !important;
        width: 65vh;
        font-size: 0.8rem;
    }

    .menu-body {
        width: 100%;
        padding: 0.3rem;
    }

    /********************* CART *************************/

    .menu-cart {
        position: fixed;
        width: 35%;
        padding: 0.5rem;
        margin: 0 !important;
    }

    .cart-header {
        font-size: 1rem;
        padding: 0.3rem;
    }

    .cart-body {
        padding: 0.5rem;
    }

    .cart-box-footer {
        font-size: 0.1rem;
        padding: 0.5rem;
    }

    .cart-items {
        font-size: 0.7rem;
    }

    .cart-items-name {
        width: 80%;
    }

    .cart-items-price {
        width: 20%;
    }

    .cart-total {
        font-size: 0.9rem;
    }

    .disabled-checkout-btn {
        font-size: 0.8rem;
        padding: 0.2rem;
        margin-top: -10px;
    }

    .checkout-btn {
        margin-top: -10px;
        font-size: 0.8rem;
        padding: 0.2rem;
    }

    /******************** LOGIN PAGE ********************/

    .login-page {
        margin-top: 180px;
        width: 100vh;
        height: 1580px;
    }

    .login-bg {
        margin-top: 180px;
        width: 100vh;
        height: 1580px;
    }

    .login-body {
        margin-left: 0px;
        padding: 5rem;
    }

    .login-form {
        width: 100%;
    }

    /******************* REGISTER PAGE ******************/

    .register-page {
        margin-top: 180px;
        width: 100vh;
        height: 1580px;
    }
    
    .register-bg {
        margin-top: 180px;
        width: 100vh;
        height: 1580px;
    }
    
    .register-overlay {
        width: 100vh;
        height: 1580px;
    }
    
    .register-body {
        margin-left: 0;
        padding: 3rem;
    }
    
    .register-form {
        width: 100%;
    }

    /************************ CHECKOUT PAGE *************************/

    .checkout-body {
        margin-left: 0;
    }

    .checkout-form {
        width: 100vh;
        padding: 3rem;
    }

    /********************* Success Model ***********************/

    .model {
        width: 80%;
    }
    
}

/* Tablet Screen */
@media (min-width: 768px) and (max-width: 1023px) {

    .btn {
        padding: .3rem !important;
    }

    /******************** BANNER *************************/

    .banner {
        margin-left: 180px;
        background-color: gray;
        height: 120px;

        background-image: url('../images/banner-image.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        padding: 1rem;
    }

    .banner-logo {
        width: 280px;
    }

    /************************ SIDE BAR *************************/
    .main-sidebar {
        width: 180px;
        padding: 0.8rem;
    }

    .side-bar-logo {
        width: 130px;
        height: 130px;
        top: 30px;
        background-size: 110px;
    }

    .side-bar-logo:active {
        transform: translate(1px, 1px);
        box-shadow: none;
    }

    .side-bar-btn-group {
        position: relative;
        top: 80px; 
    }

    .link-btn {
        font-size: 0.8rem;
    }

    /************** HOME PAGE *****************/

    .home-body {
        margin-left: 180px;
    }

    .bg-1 {
        font-size: .8rem;
        height: 500px; 
    }

    .text-col-content > h1 {
        font-size: 1.8rem;
    }

    .footer {
        font-size: .8rem;
    }

    .footer-heading {
        font-size: 1rem;
    }

    .footer-col > h6 {
        font-size: .8rem;
    }

    .footer-col {
        padding: 0.5rem;
    }

    /***************** MENU PAGE CONTENTS *******************/

    .menu-page {
        margin-left: 170px;
        font-size: 0.8rem;
    }

    .menu-body {
        padding: 1.3rem;
        width: 68%;
    }

    .menu-header > h4 {
        font-size: 1.2rem;
    }

    .menu-header {
        margin-bottom: 0.8rem;
    }

    /********************* CART *************************/

    .menu-cart {
        padding: 0.1rem;
        top: 125px;
    }

    .cart-header {
        font-size: 0.9rem;
        padding: 0.3rem;
    }

    .cart-body {
        padding: 0.5rem;
    }

    .cart-box-footer {
        padding: 0.2rem;
    }

    .cart-items {
        padding: 1px;
        margin-bottom: 2px;
    }

    .cart-items-name {
        font-size: 0.7rem;
    }

    .cart-items-price {
        font-size: .6rem;
    }

    .cart-total {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .disabled-checkout-btn {
        font-size: 0.8rem;
    }

    .checkout-btn {
        font-size: 0.8rem;
    }

    /******************** MENU ITEMS **********************/

    .items-body {
        padding: 0.6rem;
    }

    .items-body:hover {
        cursor: pointer;
    }

    .items-content {
        width: 80%;
    }

    .items-name {
        font-size: .9rem;

        margin-bottom: -3px;
    }

    .items-price > h6 {
        font-size: .8rem;
    }

    .items-price {
        font-size: .8rem;
    }

    /******************** LOGIN PAGE ********************/

    .login-page {
        font-size: 0.7rem;
    }

    .login-body {
        margin-left: 180px;
        padding: 3rem;
    }

    .login-form {
        width: 60%;
    }

    .login-form > h4 {
        font-size: 1rem;
        margin-bottom: 2rem !important;
    }

    .login-btn {
        font-size: .8rem;
    }

    /******************** REGISTER PAGE ********************/

    .register-page {
        font-size: 0.7rem;
    }

    .register-body {
        margin-left: 180px;
        padding: 3rem;
    }

    .register-form {
        width: 80%;
    }

    .register-form > h4 {
        font-size: 1rem;
    }

    .register-btn {
        font-size: .8rem;
    }

    /************************ CHECKOUT PAGE *************************/

    .checkout-body {
        margin-left: 180px;
        padding: 1.3rem;
    }

    .checkout-form {
        font-size: 0.7rem;
        width: 100%;
    }

    .header {
        font-size: .9rem;
    }

    .icon {
        font-size: .9rem;
    }

    .form-inputs {
        padding: 0.5rem;
    }

    .form-total {
        padding: 0;
    }

    .order-btn {
        font-size: .8rem;
    }

    .total-box {
        padding: .4rem;
    }


    .total-box > h5 {
        font-size: .8rem;
    }

    .total-box > input {
        font-size: 12px !important;
    }

    input {
        font-size: .7rem !important;
    }

    .remove-btn {
        border-radius: 100%;
        width: 17px;
        height: 17px;
        padding: 0 !important;
        font-size: 10px;
        margin-right: 5px;
        position: relative;
        bottom: 2px;
    }
}

